<script async
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&libraries=places&callback=initAutocomplete">
</script>

<script>
  let autocomplete;
  function initAutocomplete() {
    autocomplete = new google.maps.places.Autocomplete(
    document.getElementById('autocomplete'),
    {
      types: ['address'], <%# change to establishment if want to search places%>
      componentRestrictions: {'country': ['AU']},
      fields: ['place_id', 'geometry', 'name']
    });
  }
</script>

<%= form_for @shop, :html => {:class => 'form shop', :multipart => true} do |f| %>
  <table>

  <tr>
    <td><%= f.label :name %>
    <td><%= f.text_field :name, :class => "form_input shop" %>
  </tr>

  <tr>
    <td><%= f.label :logo %></td>
    <td><%= f.cl_image_upload :logo,:class => "form_input shop"  %></td>
  </tr>

  <tr>
    <td><%= f.label :tagline %></td>
    <td><%= f.text_field :tagline, :class => "form_input shop" %></td>
  </tr>

  <tr>
    <td><%= f.label :description %></td>
    <td><%= f.text_area :description, :class => "form_input shop text_area" %></td>
  </tr>

  <tr>
    <td><%= f.label :founders %></td>
    <td><%= f.text_field :founders, :class => "form_input shop" %></td>
  </tr>

  <tr>
    <td><%= f.label :established %></td>
    <td><%= f.number_field :established, :class => "form_input shop" %></td>
  </tr>

    <tr>
      <td><%= f.label :website %></td>
      <td><%= f.url_field :website, :class => "form_input shop" %></td>
    </tr>

    <tr>
      <td><%= f.label :images %></td>
      <td><%= f.file_field :images, :multiple => true, :class => "form_input shop" %></td>
    </tr>

    <tr>
      <td><%= f.label :address %></td>
      <td><%= f.text_field :address, :class => "form_input shop", :id => 'autocomplete', :placeholder => 'Enter Address', :required => true %></td>
    </tr>

    <tr>
      <td><%= f.label :category %></td>
      <td><%= f.collection_check_boxes :category_ids, Category.all, :id, :name %></td>
    </tr>

    <tr>
      <td><%= f.label :brand %></td>
      <td><%= f.collection_check_boxes :brand_ids, Brand.all, :id, :name %></td>
    </tr>

  </table>

  <div class = 'submit shop'>
    <%= f.submit button_text %>
  </div>

<% end %>
