
<p class = 'intro_para'>In the era of monopolies, price comparison, and online shopping, it can be hard to shop local. But the artisinal world is making a comeback - it's time to re-discover your high street and support your neighbors. To find your local treasures, search below by brand, category, or shop.</p>

<hr>

<nav class = 'home_search navbar navbar-light'>
  <%= form_tag pages_result_path, :method => 'get', :class => 'form-inline' do %>
    <%= label(:query, :name, 'FIND LOCAL:')  %>
    <%= search_field_tag :query, 'Search', :class => 'form-control mr-sm-2', :value => ''%>
    <%= submit_tag "Let's go!", :class => 'btn btn-outline-success my-2 my-sm-0'%>
  <% end %>
</nav>

<hr>

<h3 class = 'stores-month header'>STORES OF THE MONTH</h3>

<div class = 'stores-month'>
  <div class = 'feature-store'>
    <h4><%= @shop1.name %></h4>
      <%= link_to cl_image_tag(@shop1.logo), @shop1 %>
  </div>

  <div class = 'feature-store'>
    <h4><%= @shop2.name %></h4>
    <%= link_to cl_image_tag(@shop2.logo), @shop2 %>
  </div>

  <div class = 'feature-store'>
    <h4><%= @shop3.name %></h4>
    <%= link_to cl_image_tag(@shop3.logo), @shop3 %>
  </div>
</div>
