

<!-- <p class = 'intro-para'>In an era of monopolies, price comparison, and online shopping, it can be hard to shop local. But the artisinal world is making a comeback - it's time to re-discover your high street and support your neighbors. To find your local treasures, search below by brand, category, or shop.</p> -->
<div class='home-top'>
  <p class='search-prompt'>Find independent, local shops near you</p>
  <nav class = 'home_search navbar navbar-light'>
    <%= form_tag pages_result_path, :method => 'get', :class => 'form-inline' do %>
      <%= search_field_tag :query, 'Search', :class => 'form-control mr-sm-2', :value => '', :placeholder => '👀'%>
      <%= submit_tag "Let's go!", :class => 'search-button'%>
    <% end %>
  </nav>
  <div class="dropdown">
    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ADD YOUR LOCAL
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <%= link_to '+ SHOP', new_shop_path, :class => "dropdown-item" %>
      <%= link_to '+ CATEGORY', new_category_path, :class => "dropdown-item" %>
      <%= link_to '+ BRAND', new_brand_path, :class => "dropdown-item" %>
    </div>
  </div>
</div>

<div class="home-bottom">
  <h3 class = 'stores-month header'>FEATURED SHOPS</h3>

  <div class="feature-container">
    <div class="feature1 feature-div">
      <%= cl_image_tag (@shop1.images[0]), :class => 'home feature-image'%>
       <h5><%= @shop1.name %></h5>
       <p><%= @shop1.tagline %></p>
     </div>
    <div class="feature2 feature-div">
      <%= cl_image_tag (@shop2.images[0]), :class => 'home feature-image'%>
       <h5><%= @shop2.name %></h5>
       <p><%= @shop2.tagline %></p>
     </div>
    <div class="feature3 feature-div">
      <%= cl_image_tag (@shop3.images[0]), :class => 'home feature-image'%>
       <h5><%= @shop3.name %></h5>
       <p><%= @shop3.tagline %></p>
     </div>
    <div class="feature4 feature-div">
      <%= cl_image_tag (@shop4.images[0]), :class => 'home feature-image'%>
       <h5><%= @shop4.name %></h5>
       <p><%= @shop4.tagline %></p>
     </div>
   </div>

</div>
