<nav class = 'home_search navbar navbar-light'>
  <%= form_tag pages_result_path, :method => 'get', :class => 'form-inline' do %>
    <%= label :query, "Find your local:" %>
    <%= search_field_tag :query, 'Search', :class => 'form-control mr-sm-2', :value => ''%>
    <%= submit_tag "Let's go!", :class => 'btn btn-outline-success my-2 my-sm-0'%>
  <% end %>
</nav>

<p id = 'home_intro'> Why shop big when you can shop local? When you support locally owned businesses, you’re not only supporting the local economy and the employment of local people. You are also directly supporting your local sporting groups and your local community in general. There are many studies that indicate that shopping locally has major economic benefits for your local community as evidenced by the chart. So when you spend $100 at a local business, on average 58% more of your money stays in your community compared to what would have happened if you spent that $100 at a multinational company based store.

Overall, it is important to shop locally to encourage the health and sustainability of your local community. You will also be encouraging community engagement whilst creating long term relationships and promoting loyalty within your community. By shopping locally and allowing local businesses to thrive you will also be indirectly helping with local tourism, as visitors are more likely to visit our local area if there are distinct and individual shops to visit.</p>

<hr>

<h3 class = 'stores-month header'>STORES OF THE MONTH</h3>

<div class = 'stores-month'>
  <div class = 'feature-store'>
    <h4><%= @shop1.name %></h4>
      <%= link_to cl_image_tag(@shop1.logo), @shop1 %>
  </div>

  <div class = 'feature-store'>
    <h4><%= @shop2.name %></h4>
    <%= link_to cl_image_tag(@shop2.logo), @shop2 %>
  </div>

  <div class = 'feature-store'>
    <h4><%= @shop3.name %></h4>
    <%= link_to cl_image_tag(@shop3.logo), @shop3 %>
  </div>
</div>
