<%= form_for @brand, :html => {:class => 'form brand', :multipart => true} do |f|%>

<table>

  <tr>
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name, :class => "form_input brand", :required => true %></td>
  </tr>

  <tr>
    <td><%= f.label :logo %></td>
    <td><%= f.cl_image_upload :logo, :class => "form_input brand" %></td>
  </tr>

  <tr>
    <td><%= f.label :images %></td>
    <td><%= f.file_field :images, :multiple => true, :class => "form_input brand" %></td>
  </tr>

  <tr>
    <td><%= f.label :description %></td>
    <td><%= f.text_area :description, :class => "form_input brand text_area" %></td>
  </tr>
  <tr>
    <td><%= f.label :established %></td>
    <td><%= f.number_field :established, :class => "form_input brand" %></td>
  </tr>

</table>

<div class = 'submit brand'>
  <%= f.submit %>
</div>

<% end %>
