<%= form_for @category, :html => {:class => 'form category', :multipart => true} do |f|%>

  <table>

  <tr>
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name, :class => "form_input category", :required => true %></td>
  </tr>

  <tr class='checkbox-area'>
    <td><%= f.label :image %></td>
    <td><%= f.cl_image_upload :image, :class => "form_input category" %></td>
  </tr>

</table>

<div class = 'submit category'>
  <%= f.submit %>
</div>

<% end %>
