<!DOCTYPE html>
<html>
  <head>
    <%= cloudinary_js_config %>

    <title>Project1</title>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class = 'header'>

      <div class = 'nav-div'>
        <%# link_to (image_tag '/assets/icon.png', :class =>'home_logo'), root_path %>
        <%= link_to 'IRLocal', root_path, :class => 'web-title' %>

        <nav class = 'main-nav'>
          <%= link_to 'ABOUT' %>
          <%= link_to 'SHOPS', shops_path %>
          <%= link_to 'BRANDS', brands_path %>
          <%= link_to 'CATEGORIES', categories_path %>
        </nav>
        <div></div>
      </div>
    </div>

    <div class="page-container">  
    <%= yield %>
    </div>

    <div class='footer'>
      <p class = 'subtitle'>LIVE LOCAL | LOVE LOCAL</p>
    </div>
  </body>
</html>
