<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Our Shops', shops_path %>
    <%= link_to 'Add a Shop', new_shop_path %>
    <%= link_to 'All Categories', categories_path %>
    <%= yield %>
  </body>
</html>
