<!DOCTYPE html>
<html>
  <head>
    <%= cloudinary_js_config %>

    <title>Project1</title>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class = 'header'>
      <h1 id='web_title'>IRLocal</h1>
      <p class = 'subtitle'>LIVE LOCAL | LOVE LOCAL</p>

      <div class = 'nav_div'>
        <%= link_to (image_tag '/assets/icon.png', :class =>'home_logo'), root_path %>

        <nav class = 'main_nav'>
          <%= link_to 'SHOPS', shops_path %>
          <%= link_to 'CATEGORIES', categories_path %>
          <%= link_to 'BRANDS', brands_path %>
          <div class="dropdown">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ADD YOUR LOCAL
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to '+ SHOP', new_shop_path, :class => "dropdown-item" %>
              <%= link_to '+ CATEGORY', new_category_path, :class => "dropdown-item" %>
              <%= link_to '+ BRAND', new_brand_path, :class => "dropdown-item" %>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
